.home{
  background-color: #F5CAC3;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  background-color: #F7EDE2;
  height: 90vh;
  width: 95%;
  border-radius: 30px;
}