.hero{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    height: 75%;
}
.layout{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.intro{
    width: 700px;
    /* background-color: #ffff; */
    font-family: Montserrat;
}
#text{
    font-size: 48px;
    font-weight: bold;
}
.address{
    margin-top: 10px;
    height: 60px;
    width: 400px;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 3px 0px #8f8969;
}
#sub-heading{
    font-size: x-large;
    font-weight: 500;
    color: #F6BD60;
}
.cardContainer{
    position: absolute;
    bottom: 0px;
    /* margin-top: 50px; */
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 50px;
}
.cards{
    display: flex;
    gap: 20px;
}
.more{
    height: 70px;
    width: 70px;
    background-color: #F28482;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bannerContainer{
    position: relative;
    height: 400px;
    width: 400px;
}
.banner{
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 0;
}
.banner img{
    height: 350px;
}
#phoneBanner{
    height: 150px;
    width: 150px;
    object-fit: contain;
    position: absolute;
    top: -50;
    z-index: 10;
}
#phoneBanner img{
    width: 150px;
    height: 100%;
    border-radius: 50%;
}
#earphoneBanner{
    height: 150px;
    width: 150px;
    object-fit: contain;
    position: absolute;
    right: -30px;
    bottom: -60px;
    z-index: 10;
}
#earphoneBanner img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}