.logo{
    height: 100%;
    width: 150px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px;
}
.logo img{
    height: 90px;
    width: 90px;
    border-radius: 0px 0px 20px 20px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.menu,.accounts{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    gap: 20px;
}
.menu ul li{
    list-style-type: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    /* border-bottom: solid 8px #D62828; */
}
.accounts ul{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.accounts ul li,button{
    list-style-type: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #F6BD60;
    border-radius: 30px;
    cursor: pointer;
    color: #F7EDE2;
    text-transform: uppercase;
}